<div>
  <div>
    <h1>
      <%= @the_board.name %> 
    </h1>

    <hr>  
  </div>
</div>

<hr>

<h2>Add a new post</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title_field"></label>
    <input id="title_field" type="text" name="query_title">
  </div>
  
  <div>
    <label for="body_field">Body</label>
    <textarea name="query_body" id="body_field" cols="30" rows="10"></textarea>
  </div>
  
  <div>
    <label for="expires_on_field">Expires on</label>
    <input type="date" id="expires_on_field" name="query_expires_on">
  </div>
  
  <input type="hidden" id="board_id_field" name="query_expires_on" value="<%= @the_board.id %>">

  
  <button>
    Add post
  </button>
</form>

<h2>Active posts</h2>

<% matching_posts = Post.where({:board_id => @the_board.id}).order({:expires_on => :asc}) %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

<% matching_posts.each do |a_post| %>
  <tr>
    <th><% a_post.title %></th>
    <th><% a_post.body %></th>
    <th><% a_post.created_at.strftime("%b %e, %Y") %></th>
    <th><% a_post.expires_on.strftime("%b %e, %Y") %></th>
  </tr>
<% end %>

</table>
